make.exe
libiconv2.dll
libintl3.dll
md5_win32_bin/bin/icudt52.dll
md5_win32_bin/bin/icuin52.dll
md5_win32_bin/bin/icuuc52.dll
md5_win32_bin/bin/libgcc_s_dw2-1.dll
md5_win32_bin/bin/libstdc++-6.dll
md5_win32_bin/bin/libwinpthread-1.dll
md5_win32_bin/bin/Qt5Core.dll
md5_win32_bin/bin/Qt5Gui.dll
md5_win32_bin/bin/Qt5Widgets.dll
md5_win32_bin/bin/Qt5Network.dll
md5_win32_bin/bin/platforms/qwindows.dll
compile_log.txt
clog.txt
compiler.exe
